@import "tailwindcss";

@theme inline {
	--font-sans: var(--font-poppins);

	/* Multi BR Brand Colors */
	--color-multi-roxo: #5d018a;
	--color-multi-amarelo: #fac32a;
	--color-multi-rosa: #e60057;
	--color-multi-verde: #138910;
	--color-multi-azul: #014fcd;
	--color-multi-vermelho: #d62d0e;
	--color-multi-laranja: #ec8b20;
	--color-multi-whatsapp: #25d366;

	/* Neutral Colors */
	--color-gray-50: #f5f5f5;
	--color-gray-200: #cccccc;
	--color-gray-600: #666666;
	--color-gray-800: #333333;
}

body {
	font-family: var(--font-sans), system-ui, sans-serif;
}
